body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: var(--text);
  line-height: 1;
  margin: 0;
  scroll-behavior: smooth;


}

.contnt {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: 8px solid #20604F;
}

.h-news-item {
  position: relative;
  flex: 1 0 40%;
  border-bottom: var(--standard-border);
  display: flex;
  align-content: stretch;

  &>.inner {
    border-right: var(--standard-border);
    padding: calc(var(--h-margin) * .5 - 1rem) calc(var(--h-margin) * 1.5) calc(var(--h-margin) * .5);
    margin-top: calc(var(--h-margin) * .5);
    margin-bottom: calc(var(--h-margin) * .5);
    flex: 1 1 auto
  }

  &:has(.h-news-desc) {
    flex: 1 0 90%
  }
}

.h-news-meta {
  color: var(--text3);
  font-size: var(--h-fontsize-xs);
  height: 1rem;
  display: flex;
  margin-bottom: .3em;
  justify-content: space-between;
}

.h-news-title {
  margin: 0 0 .3em;
  font-weight: var(--bold-weight);
  font-size: var(--h-fontsize-l);
}

.h-news-author {
  text-align: left;
  width: 100%;
  transition: var(--transition-out);
}

.h-news-desc {
  line-height: 1.6;
  position: relative;
  transition: var(--transition-out);
  font-size: var(--h-fontsize-m);
  color: var(--text2);
}

.h-news-date {
  color: var(--secondary);
  font-weight: var(--bold-weight);
  font-size: var(--h-fontsize-xs);

  margin-top: .5em;
  padding: 0;
}