:root {
  --side-width: 0px;
  --mask-width: 1.5vw;
  --pattern-radius: .6px;
  --h-fontsize-l: calc(1rem + .5vmin + .2vmax);
  --h-fontsize-m: calc(.7rem + .4vmin + .2vmax);
  --h-fontsize-s: calc(.6rem + .3vmin + .2vmax);
  --h-fontsize-xs: calc(.5rem + .2vmin + .2vmax);
}

:root {
  --main: #f60c3e;
  --secondary: #f60c3e;
  --text: #272727;
  --text2: #595959;
  --text3: #989898;
  --text4: #d5d5d5;
  --btn-bg: #333;
  --btn-text: #fff;
  --btn-border: var(--btn-bg);
  --primary-btn-bg: #f60c3e;
  --primary-btn-text: #fff;
  --bg: #fff;
  --bg2: #efefef;
  --border: #ddd;
  --border2: #888;
  --border-type: dotted;
  --border-width: 1px;
  --standard-border: var(--border-width) var(--border-type) var(--border);
  --member: #f60c3e;
  --radius: 1px;
  --side-width: 173px;
  --mask-width: .7rem;
  --curve: cubic-bezier(.08, .82, .2, 1);
  --curve-out: cubic-bezier(.95, .05, .8, .04);
  --duration: .3s;
  --duration-out: .17s;
  --transition: all var(--duration) var(--curve);
  --transition-out: all var(--duration-out) var(--curve-out);
  --symbol: "▪︎";
  --ep-symbol: "№";
  --text-input-bg: var(--bg);
  --avatar-color: var(--border);
  --h-margin: 1.5rem;
  --base-size: .875rem;
  --bold-weight: 700;
  --box-text: #ccc;
  --box-text2: #999;
  --box-text3: #666;
  --box-bg: rgba(0, 0, 0, .75);
  --box-mask: rgba(0, 0, 0, .6);
  --box-border: 1px dotted #333;
  --pattern-color: #e9e9e9;
  --pattern-radius: .75px;
  --pattern-bg: radial-gradient(var(--pattern-color) var(--pattern-radius), var(--bg) var(--pattern-radius));
  --pattern-size: calc(var(--pattern-radius) / 0.25) calc(var(--pattern-radius)* 4);
  --icon-width: 2px;
  --icon-width-offset: 0px;
  --linecap: round;
  --linejoin: round;
  --default-font: system-ui, Segoe UI, Helvetica, Arial, 'PingFang SC', sans-serif;
  --arrow-right: "→";
  --arrow-left: "←";
  --mainH: 347;
  --mainS: 93%;
  --mainL: 51%;
  --bgH: 0;
  --bgS: 0%;
  --bgL: 100%;
  --secH: 347;
  --secS: 93%;
  --secL: 51%;
  --textH: 0;
  --textS: 0%;
  --textL: 20%;
  --is-dark: 0;
  --h-fontsize-l: calc(1rem + .1vh + .1vw);
  --h-fontsize-m: calc(.8rem + .1vh + .1vw);
  --h-fontsize-s: calc(.75rem + .05vh + .05vw);
  --h-fontsize-xs: .75rem;
  -webkit-tap-highlight-color: transparent;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: ANWE, ANWT, PingFang SC, Microsoft YaHei, Arial, sans-serif;
  background: var(--bg);
  transition: background-color .1s var(--curve);
  accent-color: var(--main);
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig";
}

@media (max-width: 1070px) {
  :root {
    --side-width: 145px;
    --mask-width: .4rem;
    --h-margin: 0.8rem;
  }
}